:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  
  

  /* colors */
 --dark-green: #214247;
 --ocean-green: #81A3A8;
  --sea-green: #9cb0b0;
  --blush: #FFE1D9;
  --dark-blush: #fdaf99;
}


#root {
  width: 100vw;
}



@font-face {
  font-family: 'Papyrus';
  src: url(./assets/PAPYRUS.TTF);
}

@keyframes loadanimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: .8;
  }
}

@keyframes banner {
  0% { transform: translateX(0);}
  100% { transform: translateX(-100vw);}

}

@keyframes navMovement {
  0% { border-bottom: .3rem solid #fdaf9901;}
  100% { border-bottom: .3rem solid var(--dark-blush); opacity: 1; }
}

@keyframes cartOpening {
  0% {transform: translateX(50rem) translateY(-50rem);
   
  }
  10%  {transform: translateX(0);
  }
  50% {transform: translateX(0); }
  
  80% {transform: translateX(0) translateY(0rem);
    
     opacity: .8;}
  100% {transform: translateX(50rem) translateY(-50rem);
    
    display: block;}
}

@keyframes janSlideShow {
 0% {background-image: url(./assets/jan-smiling.png);}
 20% {background-image: url(./assets/jan-smiling.png);}
 30% {background-image: url(./assets/jan-laughing.png);}
 50% {background-image: url(./assets/jan-laughing.png);}
 60% {background-image: url(./assets/jan-devil.png);}
 90% {background-image: url(./assets/jan-devil.png);}
 100% {background-image: url(./assets/jan-smiling.png);}
}

@keyframes loadLeft {
  0% {opacity: 0; transform: translate(-5rem, -5rem);}
  100%{opacity: 1; transform: translate(0, 0);}
}

@keyframes loadRight {
  0% {opacity: 0; transform: translate(5rem, 5rem);}
  100%{opacity: 1; transform: translate(0, 0);}
}

@keyframes filterNav {
  0% {transform: translateX(-100rem);}
  100% {transform: translateX(0rem);}
}


body {
  position: absolute;
  margin: 0;
  /*display: flex;*/
  
 
  
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: var(--sea-green);
  
}

.backgroundImg {
  position: fixed;
  bottom: 0;
  opacity: .45;
  z-index: -1;
}

/*nav bar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: .5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  
  
}

.nav-icon {
  display: none;
}

nav a {
  letter-spacing: .15rem;
  padding: 1.3rem;
  color: white;
}
nav a.active {
  font-weight: bold;
  color: var(--blush);
  border-bottom: .2rem solid var(--dark-blush);
  animation: navMovement 500ms linear;
}
a {
  font-weight: 500;
  color: var(--pine);
  text-decoration: inherit;
  
}
a:hover {
  color: var(--dark-blush);
}

.Toastify__toast--success {
  background-color: #214247;
  color: var(--dark-blush);

}

.Toastify__toast--info {
  background-color: #a8c0c0;
  color: var(--dark-green);
}

.Toastify__toast--info::before {
  color: var(--dark-green);
}

.Toastify__toast--info::after {
  color: var(--dark-green);
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  
  
  padding-top: 3rem;
  
  
  
}

.shipping-notice {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  
  height: 40rem;
  background-color: #ffe1d9df;
  margin-bottom: 7rem;
  border-radius: 1rem;
  border: .15rem solid #b16853;
  box-shadow: .25rem .25rem 1rem #556f746b;
  
}

.shipping-notice p {
  width: 20rem;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10rem;
  line-height: 5rem;
  
  
  vertical-align: center;
  color: #bc644c;
}

.shipping-notice span {
  align-self: flex-end;
  
  cursor: pointer;
  padding-bottom: 4rem;
  padding-right: 1rem;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  background-image: url('./assets/close-svgrepo-com.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color: #d28772;
  filter: invert(59%) sepia(12%) saturate(3753%) hue-rotate(325deg) brightness(80%) contrast(80%);
  transition: all 300ms linear;
}

.shipping-notice span:hover {
  color:#4b7f87;
}

.title-container {
  width: 35rem;
  margin-left: 7rem;
}

h1 {
  font-size: 8.2em;
  line-height: 10.1rem;
  letter-spacing: .5rem;
  text-align: left;
  color: #214247;
  font-family: 'Bellefair', sans-serif;
  font-weight: 300;
  
  margin-bottom: 0;

}

.home-title {
  
  margin-top: 0;
  padding-bottom: 1.7rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  color: var(--blush);
}


.shop-preview {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  
  width: 38rem;
  
}

.shop-preview h3 {
  font-family: 'Bellefair', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color:#214247;
  padding-left: 1rem;
}

.products-preview {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product-home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #a8c0c0;
  padding: 1rem;
  margin: .75rem;
  padding-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem #8ca4a9ae;
  border: .1rem solid #3b6268;
  width: 15rem;
  height: 15rem;
}

.candles-preview {
  width: 8rem;
  border: .1rem solid #36595e;
  border-radius: .5rem;
  align-self: center;
  margin-bottom: .5rem;
}

.candles-preview:hover {
  cursor: pointer;
  filter:brightness(100%);
}
.description-home {
  display: flex;
  flex-flow:column wrap;
  justify-content: space-between;
}

.shop-preview h4 {
  font-size: 1.5rem;
  font-family: "Bellefair", sans-serif;
  margin-top: 0;
  line-height: 2rem;
  color: var(--dark-green);
  font-weight: 500;
  align-self: center;
  margin-bottom: .5rem;
}

.price-and-button {
  align-self:center;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  line-height: 1rem;
  align-items: baseline;
  width: 14rem;
  
}

.shop-preview span {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .1rem;
  margin-right: 1rem;
  color: #15383f;
}

.add-to-cart-home {
  text-align: center;
  
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #d49381;
  border-radius: 50px;
  aspect-ratio: 1;
  color: #214247;
  border: .1rem solid #214247;
  transition: all 300ms ease-out;
  
}

.add-to-cart-home:hover {
  background-color: var(--ocean-green);
  color: var(--blush);
  cursor: pointer;
}

.shop-now {
  display: block;
  background-color: #07333a00;
  padding: .5rem;
  border: none;
  
  width: 15vw;
  font-size: 1.5rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #36595e;
  transition: all 300ms ease-in;
  align-self: center;
  padding: 0rem;
  margin-bottom: 2rem;
}

.arrow-home {
  width: 2rem;
  margin-top: 2rem;
}

.shop-now:hover {
  cursor: pointer;
  
  color: var(--blush);
}



.about-page {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  padding-bottom: 2rem;
}

.title-container-about {
  display: flex;
  
}

.jan-profile-pic {
  width: 25rem;
  height: 25rem;
  margin-top: 5rem;
  background-image: url(./assets/jan-smiling.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: janSlideShow 8s linear infinite, loadRight 2s ease-out;
}

.page-title {
  font-family: 'Bellefair', sans-serif;
  letter-spacing: .1rem;
  color: var(--dark-green);
  font-size: 7rem;
  width: 40rem;
  animation: loadLeft 1s ease-out;
  
}

.about-intro {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #304043;
  width: 30rem;
  margin-bottom: 1rem;
  font-family: "Bellefair", sans-serif;
  animation: loadLeft 1s ease-out;
}

p {
  color: white;
  width: 25rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.about-page p {
  animation: loadLeft 1s ease-out;
}









.cart-icon {
  width: 2rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(105%) contrast(101%);
}



/* shop page */
.shop-container {
  display: flex;
  
  
}

.shop-container h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
}

.filter-nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  padding: 1.5rem;
  margin-top: 10rem;
  border: .1rem solid #d49381;
  border-left: none;
  
}

.filter-nav h4 {
  padding-bottom: 2rem;
  font-family: 'Bellefair', sans-serif;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  color: #a0e2e2;
  font-weight: 400;
}

.filter-nav a {
  padding-bottom: 2rem;
  color: white;
 
}

.filter-nav a:hover {
  color: #fdaf99;
}
.return-policy {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  position: absolute;
  background-color: var(--dark-blush);
  width: 100vw;
  height: 6vh;
  color: var(--dark-green);
  border: .08rem solid #4b7f87;
  
}

.return-policy p:nth-of-type(1) {
  color: var(--dark-green);
  width: 50vw;
  padding: 1rem;
  letter-spacing: .25rem;
  animation: banner 15s linear infinite;
  


}

.return-policy p:nth-of-type(2) {
  color: var(--dark-green);
  width: 50vw;
  padding: 1rem;
  letter-spacing: .25rem;
  animation: banner 15s linear infinite;
  


}

.candle-title {
  text-align: center;
  color: #214247;
  font-family: 'Bellefair', sans-serif;
  letter-spacing: .2rem;
  margin-top: 8rem;
  font-weight: 400;
  font-size: 2rem;
}

.listings {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;

  
}

.product-container {
 display: flex;
 flex-direction: column;
 padding: 1rem;
 border:.1rem solid #21424795; 
 border-radius: .5rem;
 margin: .95rem;
 box-shadow: .5rem .5rem 1rem #627f84a0;
 background-color: #b2c4c4;
}


#eggshell {
  filter: brightness(80%);
}

.product-image {
  max-width: 16rem;
  
}

.product-container h3 {
  font-size: 1.65rem;
  font-family: 'Bellefair', sans-serif;
  letter-spacing: .1rem;
  color: #214247;
  font-weight: 400;
  margin: 1rem 0;
}

.product-container p {
  font-size: .75rem;
  width: 16rem;
  color: #214247;
  
}

.product-container .price {
  font-family: 'Bellefair', sans-serif;
  font-size: 1.3rem;
  margin-top: .5rem;
  
}

.product-image:hover {
  cursor: pointer;
  filter: grayscale(15%) brightness(120%);

}



.add-button {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  padding-top: .75rem;
  background-color: #d49381;
  border-radius: .5rem;
  aspect-ratio: 1;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 16rem;
  height: 3rem;
  color: #052e36;
  border: .1rem solid #214247;
  font-size: 1rem;
  transition: all 300ms ease-out;
  
  
}

.add-button:hover {
  background-color: #214247;
  color: var(--blush);
  border: .1rem solid var(--blush);
}

.add-button:active {
  background-color: #fdaf99;
  color:white;
}


.cart-page {
  max-width: 100vw;

  
}

.cart-page h1 {
  font-size: 3rem;
  text-align: center;
}

.cart-page .titles {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #acb9ba9d;
  border-radius: 2rem;
  border: .1rem solid var(--dark-green);
  box-shadow: 1rem 1rem 3rem #678387c3;
  padding: 1rem 2rem;
  margin: 2rem 5rem;
}

.cart-page .subtitles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-family: 'Bellefair', sans-serif;
  font-weight: 700;
  color:#214247;
  font-size: 1.5rem;
}

.subtitles h3 {
  font-weight: 300;
}


.cart-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

}

.cart-product {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem;

}

.item-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 10vw;
}

.cart-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border-bottom: .1rem solid #7d8f92;
  
}

.cart-product img {
  width: 10rem;
  height: 10rem;
}

.cart-product h3 {
  font-family: 'Bellefair', sans-serif;
  color: var(--dark-green);
  font-size: 1.5rem;
  font-weight: 300;
}

.cart-product p {
  color: #43838d;
  font-size: .75rem;
}

.cart-product-quantity {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.cart-product-quantity .count {
  color: var(--dark-green);
  font-size: 1.5rem;
  font-family: 'Bellefair', sans-serif;
  font-weight: bold;
}
.cart-product-quantity button {
  cursor: pointer;
  margin: 1rem;
  border-radius: 50%;
  border: .1rem solid var(--dark-green);
  background-color: var(--dark-blush);
  color: var(--dark-green);
  padding: .25rem;
  height: 2rem;
  width: 2rem;
  transition: all 400ms ease-out;
}

.cart-product-quantity button:hover {
  background-color: #214247;
 
  color: var(--dark-blush);
}

.item-last-column {
  display: flex;
  flex-flow: column nowrap;
  
}
.item-last-column button {
  transform: translateY(5rem);
  background-color: #9bb7bb;
  border: .1rem solid rgb(42, 62, 65);
  color: rgb(43, 64, 67);
  border-radius: .5rem;
  padding: 1rem;
  transition: all 500ms linear;
}

.item-last-column button:hover {
  cursor: pointer;
  transform: translateY(5rem);
  background-color: #dfb6aa;
  border: .1rem solid #b16853;
  color: #b16853;
  border-radius: .5rem;
  padding: 1rem;
}

.cart-product-total-price, .cart-product-price {
  color: #264b51;
}

.cart-page .cart-summary {
  transform: translateX(50rem);
  text-align: right;
  width: 100vw;
  
  margin: 0;
  max-width: 20rem;
}

.clear-cart {
 padding: .75rem;
 border-radius: .5rem;
 background-color: #ac7e71;
 color:#eccac1;
 border: .1rem solid #e3c6be;
 width: 7rem;
 margin-bottom: 1rem;
 transition: all 300ms ease-out;
}
.clear-cart:hover {
  cursor: pointer;
  color: #ac7e71;
  background-color:#eccac1;
  border: .1rem solid #ac7e71;
}

.subtotal {
  color:#15383f;
  font-family: 'Bellefair', sans-serif;
  letter-spacing: .1rem;
  float: right;
  line-height: 3rem;
}

.cart-summary p {

}

.subtotal button {
  background-color: #9bb7bb;
  border: .1rem solid rgb(42, 62, 65);
  color: rgb(43, 64, 67);
  border-radius: .5rem;
  padding: 1rem;
  transition: all 500ms linear;
}
.subtotal button:hover {
  cursor: pointer;
  background-color: #dfb6aa;
  border: .1rem solid #b16853;
  color: #b16853;
  border-radius: .5rem;
  padding: 1rem;
}

/* Cart Preview */
.cart-preview {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  background-color: var(--blush);
  height: 80vh;
  width: 40vw;
  z-index: 10;
  transform: translateX(300rem);
  animation-play-state: running;
  overflow-y: scroll;
  border-bottom-left-radius: 1rem;
  border: none;
  border-bottom: .2rem solid #a66a59;
  border-left: .2rem solid #a66a59;

  
}

.preview-cart-link {
 
}

.preview-shopping-cart{
  
  cursor: pointer;
  width: 2rem;
  filter: brightness(200%);
  
}

.cart-preview h1 {
  font-size: 2rem;
  text-align: center;
}


.cart-preview-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  
}

.preview-titles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: .75rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #36595e;
  width: 30vw;
}

.cart-preview-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 30vw;
  
}

.cart-preview-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}

.name-preview {
  padding-left: 1rem;
}

.cart-preview-item h3 {
  font-family: 'Bellefair', sans-serif;
  color: #36595e;
  font-size: 1rem;
  font-weight: 500;
  width: 5rem;
}

.name-preview button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #052e3600;
  border-bottom: .25rem solid #a66a59;;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: .8rem;
  color: #db8a74;
  
}


.cart-preview-items img {
  width: 5rem;
  height: 5rem;
}

.price-and-quantity {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}


.quantity-container-preview {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: .8rem;
  align-items: baseline;
}



.quantity-container-preview button {
  margin: .5rem;
  border-radius: 50%;
  border: .1rem solid var(--dark-green);
  background-color: var(--dark-blush);
  color: var(--dark-green);
  padding: .2rem;
  height: 1.5rem;
  width: 1.5rem;
  transition: all 400ms ease-out;
}

.quantity-container-preview button:hover {
  background-color: #214247;
 
  color: var(--dark-blush);
}

.price-and-quantity .price-preview {
  color:#3b6268;
  padding-top: .5rem;
  font-size: .8rem;
  font-family: 'Be Vietnam Pro', sans-serif;
}
.preview-item-total {
  color: #a66a59;
}

.preview-end-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  text-align: end;
}

.preview-end-buttons button:nth-of-type(1) {
  cursor: pointer;
  background-color: #052e3600;
  width: 10vw;
  outline: none;
  border: none;
  border-bottom: .2rem solid #4b7f87;
  color: #4f7075;
  line-height: 1rem;
  font-size: .7rem;
  font-family: 'Be Vietnam Pro', sans-serif;
}

@media screen and (max-width: 700px){

  html {
    width: 100vw;
    overflow-x: hidden;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    height: 100%;
    width: 55%;
    font-size: 2rem;
    background-color:#4c797ede;
    border-left: .15rem solid #07333a;
    flex-flow: column nowrap;
    align-items: end;
    padding: 2rem;
    justify-content: center;
    transition: 1s;
    transform: translateY(-200vh);
    
  }

  nav a {
    margin-bottom: 1rem;
    font-weight: 300;
    
  }

  .mobile-nav-button {
    position: fixed;
    visibility: visible;
    transform: translateY(0);
    background-color: #fdaf99;
    top: 4rem;
    right: 1rem;
    width: 18vw;
    height: 18vw;
    z-index: 15;
    outline: none;
    border-radius: .4rem;
    border: .1rem solid #1a5963;
    box-shadow: .25rem .25rem 1rem #556f746b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }

  .responsive-nav {
    transform: none;
  }

  .nav-icon {
    display: block;
    width: 18vw;
    height: 18vw;
    transform: translate(-.5rem, -.25rem);
    z-index: 16;
    filter: invert(25%) sepia(95%) saturate(379%) hue-rotate(140deg) brightness(91%) contrast(87%);
    
  }
  
  .home-container {
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    
  }

  .shipping-notice {
   
    background-color: #ffe1d9df;
  }

  .shipping-notice p {
    font-size: 1.25rem;
    width: 50vw;
    padding-left: 4rem;
  }

  .title-container {
    width: 70vw;
    margin-left: 0;
      }

  .title-container h1 {
    font-size: 5rem;
    margin-top: 9rem;
    line-height: 6.5rem;
  }


  .shop-preview {
    width: 100vw;
  }

  .product-home {
    width: 9rem;
    height: 9rem;
    margin: .30rem;
    padding: .5rem;
    padding-top: 1rem;
  }

  .candles-preview {
    width: 5rem;
  }

  .shop-preview h3 {
    font-size: 1.5rem;
    padding-left: 3rem;
  }

  .shop-preview h4 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .price-and-button {
    width: 6rem;
  }

  .price-and-button span {
    font-size: .75rem;
  }

  .add-to-cart-home {
    width: 1.75rem;
    height: 1.75rem;
  }

  .shop-container {
    width: 100vw;
    padding: 0;
    
  }

  .shop-container h1 {
    font-size: 3rem;
  }

  .return-policy {
    position: fixed;
    
    min-width: 100vw;
    margin: 0;
    justify-content: space-between;
  }

  .return-policy p:nth-of-type(1), .return-policy p:nth-of-type(2) {
    white-space: nowrap;
    width: 100%;
    padding:0;
    padding-top: 1rem;
    letter-spacing: .1rem;
    padding-left: 3rem;
    font-size: .75rem;
  }

  
  .listings-container {
    
  }

  .listings {

  }

  .product-container {
    width: 8rem;
    height: 15rem;
    text-align: center;
    padding: .7rem;
    margin: .5rem;
    justify-content: center;
    align-items: center;
  }

  .product-image {
    width: 7.5rem;
    height: 7.5rem;
    align-self: center;
  }

  

  .product-container h3 {
    font-size: .9rem;
    margin: .25rem 0;
    align-self: flex-start;
    letter-spacing: 0rem;
  }

  
  .product-container p {
    font-size: .5rem;
    width: 7.5rem;
    padding-bottom: .5rem;
    text-align: left;
  }

  .candles-price-and-button {
    display: flex;
    justify-content: center;
    width: 7.5rem;
  }

  .product-container .price {
    font-size: 1rem;
    margin-top: .25rem;
  }

  .product-container .add-button {
    width: 7rem;
    height: 2rem;
    font-size: .5rem;
    padding-top: .6rem;
    margin: .25rem 0;
  }



  .about-page h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .about-page {
    margin-left: 0;
    padding-top: 7rem;
    padding-left: 2rem;
    
    overflow-x: hidden;
  
  }

  .page-title {
    width: 18rem;
  }

  .title-container-about {
    flex-flow: column;
  }

  .jan-profile-pic {
    width: 15rem;
    height: 15rem;
    margin: 1rem;
  }

  .about-intro {
    
    padding-top: 1rem;
    
  }

  .about-page p {
    width: 18rem;
  }

  .cart-preview {
    width: 60vw;
  }

  .cart-preview-titles h3 {
    display: none;
  }

  .cart-preview-item img {
    width: 3rem;
    height: 3rem;
  }

  
  .cart-page {
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
  }

  .cart-page h1 {
    font-size: 3rem;
    
  }

  .cart-page .subtitles {
    display: none;
  }

  .cart-page .titles {
    padding: 2rem 2rem;
    margin: 2rem 4rem;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 15rem;
    box-shadow: .5 .5 .5rem #67838780;
    
    
  }

  .cart-product {
    margin: 1rem 0rem;
    flex-flow: column nowrap;
    
    
    justify-content: center;
  }

  .item-container {
    max-width: 50vw;
  }

  .item-container h3 {
    white-space: nowrap;
  }

  .item-container p {
    width: 13rem;
    padding-bottom: 1rem;
  }

  .cart-product img {
    width: 8rem;
    height: 8rem;
  }

  .item-last-column {
    justify-content: center;
    
  }

  .item-last-column button {
   transform: translateY(0);
   padding: .5rem;
   margin-top: 1.5rem;
  }

  .cart-page .cart-summary {
    display: flex;
    text-align: unset;
    flex-flow: column nowrap;
    transform: translateX(0);
    width: 20rem;
    padding-right: 7rem;
    
  }
  .subtotal {
    align-self: flex-end;
    float: none;
    text-align: right;
  }
  .clear-cart {
    align-self: flex-end;
  }

  .cart-summary p {
    align-self: flex-end;
    
    width: 12rem;
    text-align: right;
    
    padding-bottom: 1rem;
    
  }

  
}

